<% provide(:title, @lecturer.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="lecturer_info">
      <h1>
        <%= @lecturer.name %> <%= @lecturer.email %>
      </h1>
    </section>
  </aside>
</div>