<li>
  <div class="col-md-4">
    <%= link_to subject.name, subject %>
  </div>
  <div class="col-md-4">
    <%= link_to 'Edit', edit_subject_path(subject) %>
    <%= link_to 'Delete', subject_path(subject), method: :delete,
                                  data: { confirm: "You sure?" } %>
  </div>                                
</li>